.title {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    color: black;
    text-decoration-line: none;
    pointer-events: none ;
}

body {
    text-align: center !important;
}


.wrapper {
    background-color: aliceblue;
}

.color-picker {
       
}



@media (max-width: 1000px) {
    .color-picker {
        display: none;
    }
}