.title {
    font-family: 'Klee One', cursive;
    letter-spacing: 1px;
    color: black;
    text-decoration-line: none;
    pointer-events: none ;
}

#footer {
    font-family: 'Oswald', sans-serif;
    color: black;
    pointer-events: none;
}

#color-region {
    height: 200px;
}

html {
    height: 100% !important;
}

body {
    background-image: url("../image/background/radiant-gradient.svg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.nav > li > .active {
    color: white !important;
    background: linear-gradient(148deg, #fac05e, #F28500) !important;
    transition: 0.3s;
}

.nav > li > .active:hover {
    color: white !important;
    border-radius: 10px;
    background: linear-gradient(148deg,#F28500, #fac05e) !important;
}

.nav > li > a {
    color: black !important;
    font-weight: 550 !important;
}

.nav > li > a:hover {
    color: rgb(87, 80, 80) !important;
}

.wrapper {
    background-color: white;
}

@media (max-width: 1000px) {
    .color-picker {
        display: none;
    }

    #display-region {
        margin: 0 auto 0;
        width: 90% !important;
    }

    #color-region {
        margin: 0 auto 0;
        width: 90%;
    }
}